﻿body 
{
	margin:0px;
	padding:0px;
	/*background:url(../images/bg.png) no-repeat center top #6487e5 ;*/
	font-family:Arial, Helvetica, Sans-Serif, Lucida, Verdana;
	
}

img 
{
	border:none;
	outline:none;
}
/*******************************index*******************************************************/
#wapper
{
	width:100%;
	min-height:499px;
	float:left;
	
}
.container
{
	width:898px;
	padding-top:10px;
padding-bottom:75px;
	
	
}
/*********************************HEADER****************************************************/
.header_container
{
	width:980px;
	height:125px;
	
}
.logo
{
	width:332px;
	height:125px;
	float:left;
}
.header_button
{
	width:648px;
	height:36px;
	float:left;
	background:#45b14a;
	   margin-top:45px;
}
.button
{
	
	padding-top:10px;
	padding-right:21px;
	padding-left:21px;
	font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;
color: #ffffff;
cursor:pointer;
float:left;
text-decoration:none;
}
.button:hover
{
	color:#000b18;
}
/*********************************HEADER END****************************************************/
/*********************************container****************************************************/
.contant_container
{
	width:980px;
	height:340px;

   
}
.container_index
{
	width:980px;
	z-index:1;
	float:left;
	margin-bottom:20px;
	 
}
.sidebox
{
	width:332px;	
	float:left;	
	/***background:#fcf2e0;
	border:1px solid #f9e6c5;***/
	
}
.container_inner
{
	width:642px;
	height:340px;
	float:left;
	overflow:hidden;
}
.banner_img
{width:648px;
	height:340px;

}
.side_flight_box
{
	width:332px;
	
}
.fligh_txt
{
	width:97%;
	font-family: Arial, Helvetica, sans-serif;
font-size: 17px;
font-weight: normal;
font-style:italic;
color: #000;
text-align:left;
padding-left:10px;
padding-top:10px;
padding-bottom:10px;
/***
background:#bebdbf;****/
}
.byflight
{
	width:332px;
	height:40px;
	float:left;
}
.radio_button
{
	float:left;
	font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;

color: #FFFFFF;
padding-left:20px;
}
.txt_container
{
	width:332px;
}
.txt_box
{
	width:332px;
	padding-top:11px;
	float:left;
}
.txt_box_extended
{
	width:630px;
	padding-top:11px;
	float:left;
}
.txt_name
{
	width:108px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: bold;
padding-top:3px;
color: #FFFFFF;
text-align:left;
padding-left:25px;
}

.txt_name_car
{
	width:180px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
font-size: 13px;

padding-top:3px;
color: #FFFFFF;
text-align:left;
padding-left:25px;
}

.txt_name_extended
{
	width:25%;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: bold;
padding-top:3px;
color: #FFFfFF;
text-align:left;
padding-left:25px;
}

.txt_name_rt 
{
	color:#FFFFFF;
	font-style:italic;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;

}

.txt_txtbox
{
	width:190px;
	float:left;
	text-align:left;
	padding-left:9px;
}

.txt_txtbox_extended
{
	width:45%;
	float:left;
	text-align:left;
	padding-left:9px;
}
.txt_inner
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    height:20px;
    width:96%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #6E6C6C;
    text-align:left;
    float:left;
    resize: none;
    outline: none;
    border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
	/*margin-left: 7px;*/
}
.txt_inner_code
{
	
	display :none ;
	border:solid 1px #dcdbdb;
	outline:none;
	 height:0px;
	 font-family: Arial, Helvetica, sans-serif;
font-size: 0px;
font-weight: normal;
color: #6E6C6C;
    text-align:left;
   /*padding-left:3px;*/
   width :0px;
}
.txt_inner_name
{   border-style: none;
    border-color: inherit;
    border-width: medium;
    height: 22px;
    width: 98%;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #6E6C6C;
    text-align: left;
    float: left;
    resize: none;
    outline: medium none;
    padding-left: 3px;
    border-radius: 4px;
}

.txt_comments
{
	border:solid 1px #dcdbdb;
	outline:none;
	 font-family: Arial , Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
color: #6E6C6C;
    text-align:left;
    padding-left:3px;  
  border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
	border:#BDBABA 1px solid;
    height:22px;
    width: 157px;
}



.find_flights
{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background: url(../images/button_bg.png);
    border-radius: 6px;
    -moz-border-radius: 6px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #2D0000;
    cursor: pointer;
    border: none;
    border: 1px solid #ffd630;
}
.find_flights_P0p
{
	/*padding:5px;*/
	/*padding-left:10px;*/
	/*padding-right:10px;*/
	/*background:url(../images/button_bg.png);*/
	/*border-radius: 6px;*/
	/*-moz-border-radius: 6px;*/
	   text-decoration:none;
   font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
color: #002060;
cursor:pointer;
border:none;
/*border:1px solid #ffd630;*/
}
.find_flights:hover
{
	background:url(../images/button_bg_hover.png);
}
/*********************************footer****************************************************/
.footer
{
	float:right;
	padding-top:20px;
	text-align:right;
	/*padding-right:5px;*/
	font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
color: #ffffff;
/*margin-right:10%;*/
text-decoration:none;
margin-top:100px;
}
.footer:hover
{
	color:#000;
}
/*********************************By Flight****************************************************/
.container_byflight
{
	width:980px;
	float:left;
	position: relative;
	margin-left: -22em;
}
.byflight_box
{
   width:30%;
	height:25px;
	border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
   background:#F18EC0;
   margin-top:50px;
 border:.075em solid #11aae2;
   float:left;
   font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
color: #002060;
}
.byflight_departure
{
	
	float:left;	
  text-align:left;
padding:5px;


}
.arrival_txt
{
	float:left;
    
}
.delayed_round
{
	float:left;
	padding-left:6px;
	margin-top:-2px;
	padding-right:5px;
}
.destinationweather
{
	float:left;
	padding-top:10px;

	/*padding-right:113px;*/
}
.container_byflight_inner
{
	width:980px;
	padding-top:2px;
	float:left;
	
	
}
.container_byflight_box
{
	width:470px%;
	*width:470px\9;
	width:470px\0/; 
	float:left;
	margin-right:10px;
	overflow:hidden;
}

html>body .container_byflight_box
{
	width:470px;
	width:470px\9;
	width:470px\0/;
	float:left;
	margin-right:10px;
	overflow:hidden;
}

.airport_box
{
	width:98%;
	
	float:left;
	background:#ffffff;
	margin-bottom:2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
font-size: 15px;

color: #234d80;
padding:5px;
}
.scheduledtime_box
{
	width:98%;
	
	float:left;
	background:#f2f2f2;
	margin-bottom:2px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: #234d80;
font-weight: normal;

padding:5px;
}
.airport_name
{
	margin-top:2px;
	margin-bottom:2px;
	float:left;
	text-align:left;
	padding-left:5px;
	width:25%;
	font-weight:bold;
	/*border-right:1px solid #74d3f7;
	border-left:1px solid #e4fdff;
	*/
	
	
}

.airport_name_2
{
	margin-top:2px;
	margin-bottom:2px;
	float:left;
	text-align:left;
	padding-left:5px;
	/*border-right:1px solid #c3f1f5;
	border-left:1px solid #fbffff;
	*/
	
	
}
.byflight_name
{
	
	float:left;
	width:73%;
	text-align:left;

}
.weather_container
{
	width:430px;
	float:left;
	height:280px;
	
}
.weather_conditions
{
	width:200px;
	float:left;
	text-align:left;
	background:#ffffff;
	padding:5px;
	border:1px solid #c3d3e8;
}

.weather_conditions_inner 
{
	width:95%;
	/*border-bottom:1px solid #c3d3e8;
	border-top:1px solid #edf2f8;*/
	padding:5px;
	font-family:Arial;
	font-size:11px;
	float:left;
}
.weather_conditions_list_lt
{
	float:left;
	width:49%;
	margin-bottom:3px;
}

.weather_conditions_list_rt
{
	float:right;
	width:49%;
	margin-bottom:3px;
}



.warning_txt
{
	float:left;
}
.extended_weather
{
	float:left;
	text-align:left;
	background:#ffffff url(../images/weather_shadow.png) repeat-y;
	border-left:none;
	width:0px;
	padding-top:5px;
	padding-bottom:5px;
	overflow:hidden;
	
}

.extended_weather_list 
{
	width:200px;
	margin-right:5px;
	padding:3px;
	background:#ffffff;
	float:left;
	border-right:1px solid #c9c8c8;
	color:#323739;
	overflow:hidden;
}

.extended_weather_list_inner 
{
	width:95%;
	/*border-bottom:1px solid #ffe995;
	border-top:1px solid #fffef2;*/
	padding:2px;
	font-family:Arial;
	font-size:11px;
	float:left;
}

.day_night {
float:left;
margin-left:-25px;
cursor:pointer;
cursor:hand;
margin-top:5px;

}


.toggle_enquiry 
{
	display:none;
	/*float:right;
	background:#323739;
	color:#ffffff;
	margin-right:10px;
	padding-left:5px;
	padding-right:7px;	
	cursor:pointer;
	cursor:hand;*/
}

.arrow_back
{
	width:200px;
	
	float:left;
	text-align:right;
	padding-top:70px;
}
	
/***********************************By Route*************************/
.container_byroute_box
{
	width:240px;
	float:left;
}	
.airport_byroute_box
{
	width:230px;
	height:30px;
	float:left;
	background:#bac8c0;
	
	float:left;
	font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;
color: #313131;
}
.byroute_departure
{
	
	float:left;
	
text-align:left;
margin-top:5px;
margin-bottom:5px;
border-right:1px solid #ff62a7;
border-left:1px solid #ffcaed;
padding-left:5px;
}
.scheduledtime_box_byroute
{
	width:230px;
	height:30px;
	float:left;
	background:#767f7a;
	margin-bottom:10px;
	float:left;
	font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;
color: #ffffff;
}

.error 
{
	color:#ff1e07;
	font-family:Arial, Helvetica, Sans-Serif;
	padding-bottom:10px;
	margin-top:10px;
	
	
}

/* UI CSS */

div.ui-datepicker{
 font-size:12px;
 font-weight:normal;
}

.ui-autocomplete {
		max-height: 200px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
		font-weight:normal;
	}
	
	.wait 
	{	
		background:#ffffff url(../images/wait.gif) right no-repeat;
		background-size: 20px 20px;
		background-size: 20px 20px\9;
		background-size: 20px 20px\0/;
		
	}
	
.status
{
	
	
  
   margin-top:50px;
   
   font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: bold;
color: #FFFFFF;
float:right;
height:25px;
text-align:center;
padding-right:5px;
margin-top:50px;

}


.about_container
{
	width:420px;
	float:left;
	height:290px;
	font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;

color: #000;
display:none;
	background:#f2f2f2 ;
padding:10px;

	-moz-border-radius: 15px ;
   border-radius: 15px;
}

.about_container
{
	width:820px;
	float:left;
	height:390px;
	font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;

color: #000;
display:none;
	background:#f2f2f2 ;
padding:10px;

	-moz-border-radius: 15px ;
   border-radius: 15px;
}

.contacts_container
{
	width:350px;
	float:left;
	height:240px;
	font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;

color: #000;
	background:#f2f2f2 ;
padding:10px;

	-moz-border-radius: 15px ;
   border-radius: 15px;
}
.contacts_sidebox
{
	width:225px;
	float:right;
	
	background:#f2f2f2;
	border:solid 1px #d0d0d0;
	padding-left:25px;
	padding-top:25px;
	padding-bottom:25px;
	margin-bottom:20px;
	margin-top:40px;
}
.contacts_addras
{
	float:left;
	font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
color: #307b9a;
padding-left:100px;
padding-top:5px;
padding-bottom:15px;
}
.contacts_inquire
{
	width:400px;
	float:left;
	padding-bottom:15px;
}
.contacts_inquire_name
{
	width:90px;
	float:left;
	margin-left:30px;
}
.contacts_inquire_txt
{
	width:260px;
	float:left;
	text-align:left;
}
.contacts_txtbox
{
	width:180px;
	height:17px;
	font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
color: #606060;
resize:none;
}
.feedback_button
{float:right; 
 margin-right:30px; 
 margin-bottom:20px;
}
/*----------------------------------------------Message start------------------------------------------------------------------*/	
	
	.mssg_success
{
    width:95%;   
    background-color:#fdfebe;
    -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    text-align:left;
    padding:15px;
    font-family:Arial, Helvetica, sans-serif;
    color:#7a7979;
    margin:15px;
}

.mssg_fail
{
    width:95%;    
    background-color:#ffdeee;
    -moz-border-radius: 10px 10px / 10px 10px;
    border-radius: 10px 10px / 10px 10px;
    text-align:left;
    padding:15px;
    color:#7a7979;
    font-family:Arial, Helvetica, sans-serif;
    margin:15px;
}
/*--------------------------------------------------Message End-------------------------------------------------------------*/	
	
	
	
	.additional_stop 
	{
		/*border:1px solid #8c8c8c;
		background:#e6edf1;*/
		padding:5px;
		width:95%;
		margin:10px;
		float:left;
	}
	
	.close_icon
	{
		float:right;
		cursor:pointer;
		cursor:hand;
		position:relative;
	}
	
	
	/*-------------------------------------------Connection result box--------------------------------------*/
	
	.connection_result_box
	{
		border:2px solid #385d8a;
		/*background:#e6edf1;*/
		background:#ffffff;
		padding:5px;
		width:48%;
		margin-right:5px;
		margin-bottom:15px;
		float:left;
		color:#6b6a6a;
		-moz-border-radius:15px;
		-khtml-border-radius:15px;
		-webkit-border-radius:15px;
		border-radius:15px;
		min-height:225px;
		
	}
	
	.connection_end 
	{
		float:left;
		font-size:15px;
		font-weight:bold;
	}
	
	.connection_middle 
	{
		float:left;
		width:77%;
	}
	
	.info_inner 
	{
		width:100%;
		background:#ffffff;
		margin-bottom:3px;
		float:left;
		margin-top:3px;
		
	}
	
	.date_info 
	{
		display:block;
		width:16%;
		float:left;
		font-size:12px;
	}
	
	.info_inner_middle 
	{
		display:block;
		width:67%;
		float:left;
		margin-bottom:2px;
	}
	
	.flight_duration 
	{
		background:#ffc000;
		border:1px solid #385d8a;
		padding:1px;
		text-align:center;
		font-weight:bold;		
		font-size:10px;
	}
	
	.time_info 
	{
		width:100%;
		display:block;
		float:left;
		font-size:11px;
		text-align:center;
	}
	
	.list_links 
	{
		font-size:12px;
		background:url(../images/list.png) no-repeat;
		padding-left:20px;
		text-decoration:underline;
		font-style:italic;
		font-size:12px;
		float:left;
		height:17px;
		cursor:pointer;
		cursor:hand;
	}
	
	.connection_box_container 
	{
		float:left;
		font-size:10px;
		font-weight:bold;
		margin-top:-2px;
		margin-left:1px;
		margin-right:1px;
	}
	
	.connection_box 
	{
		background:#ffffff url(../images/connect.png) no-repeat;
		width:47px;
		height:20px;
		float:left;
		text-align:right;
		
	}
	
	.connecting_airports 
	{
		position:relative;
		z-index:1000;
		border-bottom:2px solid #1d2030;
		display:none;
		background:#ffffff;
		text-align:right;
	}
	
	.connecting_airport_header 
	{
		color:#ffffff;
		background:#1d2030;
		/*background:#1d2030 url(../images/down_arrow.png) no-repeat 95%  7px;*/
		font-weight:bold;
		padding:5px;
		text-decoration:none;
		min-width:200px;
		text-align:left;
				
	}
	
	.airports 
	{
		height:200px;
		overflow-y: auto;
       	width:95%;
		color:#3e3f42;
		background:#ffffff;
		text-align:left;
		font-size:12px;
		font-style:normal;
		font-weight:normal;
		padding:5px;
		cursor:pointer;		
	}
	
	.no_underline 
	{
		text-decoration:none;
		color:#3e3f42;
		background:#ffffff;
		text-align:left;
		border:none;
		cursor:pointer;
		cursor:hand;
	}
	
	/*-------------------------------------------Connection result box end--------------------------------------*/
	
	.hide 
	{
		display:none;
	}
	
	.additional_stop_hidden 
	{
		display:none;
	}
	
	.return_label 
	{
		background:#FFFFFF;
		color:White;
		font-size:15px;
		font-weight:bold;
		padding:5px;
		margin:5px;
		width:95%;
		float:left;
		display:block;
		text-align:left;
	}
	/*-----------------------------------------------------Car rental------------------------------------------*/
	.car_rental_container
{
	width:100%;
	float:left;
	height:400px;
	font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;

color: #000;


padding:10px;
padding-top:30px;
	
}
.car_rental_contant
{float:left;
 width:100%;
 }
.car_rental_inquire
{
	
	float:left;
	padding-bottom:15px;
}
.car_rental_txt
{
	width:190px;
	float:left;
	text-align:left;
}
.create_account_car
{
	color:#2891fd;
	text-decoration:underline;
}
.create_acc_containner
{
	float:right;width:235px;background:#e6cea2;border-radius: 13px;-moz-border-radius: 13px;border:solid 2px #385d8a;
	margin-top:-535px;margin-right:7px;cursor:pointer;
}
.create_txt
{
	float:left;
	text-align:left;
	padding:20px;

	font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: normal;
line-height:22px;

}
.create_acc_txt
{
	float:left;
	padding:20px;
	font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
font-weight: normal;
font-style:italic;
line-height:22px;
color: #1f497d;
text-align:left;
text-decoration:underline;
padding-top:0px;
padding-bottom:0px;
cursor:pointer;
cursor:hand;
}
.pick_create
{
	float:left;
	width:250px;
	text-align:left;
	background:#fee85e;
	margin-top:5px;
	margin-left:30px;
	}
.create_inner
{
	width:215px;
padding-bottom:10px;
	background:#EEE;
	float:left;
	margin-left:10px;
	margin-top:10px;
	display:none;
}
.create_txt_box
{
	width:215px;
	float:left;
	padding-top:10px;
}
.create_txt_name
{
	width:80px;
	float:left;
	color:#FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-weight: normal;
text-align:left;
padding-left:10px;
padding-top:5px;
}
.create_txt_box_inner
{
	width:115px;
	float:left;
	text-align:left;
}

.login_box 
{
background:#ffffff;
-moz-border-radius:20px;
		-khtml-border-radius:20px;
		-webkit-border-radius:20px;
		border-radius:20px;
		margin-top:20px;
		float:left;

}
	
.show_hide 
{
	display:none;
}