#main {
  width: 510px;
  margin: 0 auto;
}

#content-slider {
  width: 708px;
  height: 6px;
  
  margin: 5px;
  margin-top:-15px;
  background: #BBBBBB;
  position: relative;
  margin-bottom:10px;
}

.content-slider-handle {
  width: 8px;
  height: 8px;
  position: absolute;
  top: -4px;
  background: #478AFF;
  border: solid 1px black;
  cursor:pointer;
  cursor:hand;
}

#content-scroll {
  width: 718px;
  height:185px;
  overflow: hidden;
  margin-top:5px;
  
 
}

#content-holder {
  width: 1500px;
  height: 270px;
}

.content-item {
  width: 290px;
  height: 270px;
  padding: 5px;
  float: left;
}