﻿@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	background-repeat:no-repeat; background-position:center top; background:url(../images/bk.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0px;
	margin:0px;


}
#voice_button
{

	width:73px;
	height:83px;
	position:fixed;
	right:10%;
 
  top: 33%;

  z-index: 999;
	
}
#air_bin_header
{
	margin-top:1px;
	width:100%;
	height:93px;
	background-image:url(../images/rept_header.jpg);
	float:left;
}
#main_header
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	
}
#main_logo
{
	margin-top:13px;
	width:211px;
	float:left;
	margin-left:10%;
}
#air_bin_menu
{
	width:270px;
	height:93px;
	float:right;
	margin-right:10%;
}
#air_bin_menu ul
{
	padding:0px;
	margin:0px;
	
	
	}
#air_bin_menu ul li
{
	list-style:none;
	text-align:center;
	line-height:155px;
	background:url(../images/menu2.png); background-repeat:no-repeat;
	color:#FFF;
	height:93px;
	width:88px;
	display:inline;
	float:left;
	padding-right:2px;
}
#air_bin_menu ul li a
{
	
	color:#FFF;
	height:93px;
	width:88px;
	float:left;
	text-decoration:none;
	background:url(../images/menu1.jpg);
	

}
#air_bin_menu ul li a:hover
{
	height:93px;
	width:88px;
	float:left;
	background-image:url(../images/menu2.png);
	
}
#air_bin_menu ul li present
{
	height:93px;
	width:88px;
	float:left;
	background-image:url(../images/menu2.png);
	
}
#air_bin_contant_area_mainx
{
	width:100%;
	float:left;
}
#air_bin_contant_area
{
	width:90%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	/*float:right;*/
	/*background:#000;*/
	/*background:url(../images/contbg.png) repeat;*/
	/*margin-top:15px;*/
}
#air_bin_form
{
	width:450px;
	margin-left:auto;
	margin-right:auto;
	color:#FFF;
	padding-top:75px;
	
}
#air_bin_form ul
{
	padding:0px;
	margin:0px;
	
}
#air_bin_form ul li
{
	list-style:none;
	display:inline;
	padding-right:5px;
	
}
#air_bin_form .textfield
{
	height:25px;
	width:300px;
	
	}
	#air_bin_form .textfield2
{
	height:25px;
	width:60px;
	
	}
		#air_bin_form .textfield3
{
	height:25px;
	width:226px;
	
	}
	#air_bin_footer
	{
		height:83px;
		width:100%;
		background:#001339;
		text-align:center;
		line-height:100px;
		color:#FFF;
		float:left;
		margin-top:15px;
		margin-bottom:6px;
	}
/*page2*/

#contant
{
	width:950px;
	margin-left:auto;
	margin-right:auto;
	height:37px;
	padding:0px;
	background:#2e3f8b;
}
#contant2
{
	width:900px;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	height:300px;
	padding:25px;
	background:#fff;
}
.contant_1
{
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	
	
}
#contant_2
{
	width:370px;
	height:37px;
	float:left;
	text-align:center;
	line-height:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	border-right:1px #172565 solid;
	
}
#contant_3
{
	width:250px;
	height:37px;
	float:left;
	text-align:center;
	line-height:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	border-right:1px #172565 solid;
	
}
.content_area111
{
	background:#357ee3;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	height:60px;
	border-right:#039 solid 1px;
}
.content_area111_text1
{
	width:207px;
	font:Arial, Helvetica, sans-serif; font-size:12px;
	padding:0px 5px 0px 5px;
	height:18px;
}
.content_area111_text2
{
	width:100px;
	font:Arial, Helvetica, sans-serif; font-size:12px;
	padding:0px 5px 0px 5px;
	height:18px;
	margin-right:3px;
	
	float:left;
}
.content_area111_text3
{
	width:90px;
	font:Arial, Helvetica, sans-serif; font-size:12px;
	padding:0px 5px 0px 5px;
	height:18px;
	
	float:left
}
.content2_area00
{
	background:#357ee3;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	height:30px;
	
	
}
.content2_area00_desp
{
	background:#AFB2B6;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
	padding:5px;
	height:45px;
	border-bottom:#FFF 2px solid;
	
	
	
}