﻿@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
	background-repeat:no-repeat; background-position:center top; background:url(../images/bk.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0px;
	margin:0px;


}
#voice_button
{

	width:67px;
	height:67px;
	position:fixed;
	right:7%;
 
  top: 20%;

  z-index: 999;
	
}
#air_bin_header
{
	margin-top:2px;
	width:100%;
	height:93px;
	background-image:url(../images/rept_header.jpg);
}
#main_header
{
	width:80%;
	margin-left:auto;
	margin-right:auto;
	
}
#main_logo
{
	margin-top:13px;
	width:21%;
	float:left;
    margin-left:10%;
}
#air_bin_menu
{
	width:270px;
	height:93px;
	float:right;
      margin-right:10%;
}
#air_bin_menu ul
{
	padding:0px;
	margin:0px;
	
	
	}
#air_bin_menu ul li
{
	list-style:none;
	text-align:center;
	line-height:155px;
	background:url(../images/menu2.png); background-repeat:no-repeat;
	color:#FFF;
	height:93px;
	width:88px;
	display:inline;
	float:left;
	padding-right:2px;
}
#air_bin_menu ul li a
{
	
	color:#FFF;
	height:93px;
	width:88px;
	float:left;
	text-decoration:none;
	background:url(../images/menu1.jpg);
	

}
#air_bin_menu ul li a:hover
{
	height:93px;
	width:88px;
	float:left;
	background-image:url(../images/menu2.png);
	
}
#air_bin_menu ul li present
{
	height:93px;
	width:88px;
	float:left;
	background-image:url(../images/menu2.png);
	
}
#mainareaxx
{
    width:100%;
    float:left;
}
#air_bin_contant_area
{
	width:90%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	min-height:470px;
    
	background:#000;
	background:url(../images/contbg.png) repeat;
	margin-top:15px;
}
#air_bin_form
{
	width:450px;
	height:325px;
	margin-left:auto;
	margin-right:auto;
	color:#FFF;
	padding-top:75px;
	
}
#air_bin_form ul
{
	padding:0px;
	margin:0px;
	
}
#air_bin_form ul li
{
	list-style:none;
	display:inline;
	padding-right:5px;
	
}
#air_bin_form .textfield
{
	height:25px;
	width:300px;
	
	}
	#air_bin_form .textfield2
{
	height:25px;
	width:60px;
	
	}
		#air_bin_form .textfield3
{
	height:25px;
	width:226px;
	
	}
	#air_bin_footer
	{
		



      height:83px;
		width:100%;
		background:#001339;
		text-align:center;
		line-height:100px;
		color:#FFF;
		margin-top:15px;
		margin-bottom:6px;
        float:left;
	}