﻿	@charset "utf-8";
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
 background-position:center top; background-color:#7a9aeb;
     /*url(../images/bkstatus.png)  center center fixed;*/ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding:0px;
	margin:0px;
	

}
#voice_button
{
    width: 300px;
float: left;
margin-left:15px;
position: relative;
z-index: 1000;

	
	/*height:83px;*/
	/*position:static ;
	right: 25%;
top: 12%;
  z-index: 999;*/
	
}
#air_bin_header
{
	
	width:100%;
	height:74px;
	background-image:url(../images/rept_header.jpg);
	float:left;
}
#main_header
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	
}
#main_logo
{
	margin-top:13px;
	width:211px;
	float:left;
	margin-left:10%;
}
#air_bin_menu
{
	width:410px;
	height:74px;
	float:right;
	margin-right:10%;
}
#air_bin_menu ul
{
	padding:0px;
	margin:0px;
	
	
	}
#air_bin_menu ul li
{
	list-style:none;
	text-align:center;
	line-height:130px;
	/*background:url(../images/menu2.png); background-repeat:no-repeat;*/
	color:#FFF;
	height:74px;
	/*width:88px;*/
	display:inline;
	float:left;
	padding-left :10px;
    padding-right :2px;
}
#air_bin_menu ul li a
{
	
	color:#FFF;
	height:74px;
	/*width:88px;*/
	float:left;
	text-decoration:none;
    padding-left :10px;
    padding-right :2px;
	/*background:url(../images/menu1.jpg);*/
	

}
#air_bin_menu ul li a:hover
{
	height:74px;
	/*width:88px;*/
	float:left;
	/*background-image:url(../images/menu2.png);*/
    padding-left :10px;
    padding-right :2px;
	
}
#air_bin_menu ul li present
{
	height:74px;
	/*width:88px;*/
	float:left;
    padding-left :10px;
    padding-right :2px;
	/*background-image:url(../images/menu2.png);*/
	
}
#air_bin_contant_area_mainx
{
	width:100%;
	float:left;
}       
#air_bin_contant_area
{
	width:90%;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	
	/*background:#000;*/
	/*background:url(../images/contbg.png) repeat;*/
	margin-top:15px;
}
#air_bin_form
{
	width:450px;
	margin-left:auto;
	margin-right:auto;
	color:#FFF;
	padding-top:75px;
	
}
#air_bin_form ul
{
	padding:0px;
	margin:0px;
	
}
#air_bin_form ul li
{
	list-style:none;
	display:inline;
	padding-right:5px;
	
}
#air_bin_form .textfield
{
	height:25px;
	width:300px;
	
	}
	#air_bin_form .textfield2
{
	height:25px;
	width:60px;
	
	}
		#air_bin_form .textfield3
{
	height:25px;
	width:226px;
	
	}
	#air_bin_footer
	{
		height: 83px;
		width: 100%;
		background: none repeat scroll 0% 0% #001339;
		text-align: center;
		line-height: 100px;
		color: #FFF;
		float: left;
		bottom: 0em;
		position: bottom;
	}
/*page2*/

#contant
{
	width:950px;
	margin-left:auto;
	margin-right:auto;
	height:37px;
	padding:0px;
	background:#2e3f8b;
}
#contant2
{
	width:900px;
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	height:300px;
	padding:25px;
	background:#fff;
}
.contant_1
{
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	
	
}
#contant_2
{
	width:370px;
	height:37px;
	float:left;
	text-align:center;
	line-height:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	border-right:1px #172565 solid;
	
}
#contant_3
{
	width:250px;
	height:37px;
	float:left;
	text-align:center;
	line-height:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	border-right:1px #172565 solid;
	
}
.content_area111
{
	background:#357ee3;
	font-family:Arial, Helvetica, sans-serif;
	color:#FFF;
	font-size:12px;
	height:60px;
	border-right:#039 solid 1px;
}
.content_area111_text1
{
	width:207px;
	font:Arial, Helvetica, sans-serif; font-size:12px;
	padding:0px 5px 0px 5px;
	height:18px;
}
.content_area111_text2
{
	width:100px;
	font:Arial, Helvetica, sans-serif; font-size:12px;
	padding:0px 5px 0px 5px;
	height:18px;
	margin-right:3px;
	
	float:left;
}
.content_area111_text3
{
	width:90px;
	font:Arial, Helvetica, sans-serif; font-size:12px;
	padding:0px 5px 0px 5px;
	height:18px;
	
	float:left
}
.content2_area00
{
	background:#D7D7D7;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
	height:30px;
	
	
}
.content2_area00_desp
{
	background:#EAECF1;
	font-family:Arial, Helvetica, sans-serif;
	color:#000;
	font-size:12px;
	padding:5px;
	height:45px;
	border-bottom:#FFF 2px solid;
}
/**page3*/
#air_bib_page3
{
	width:99%;
	background:#FFF;
	padding:1%;
	float:left;
	min-height: 550px;
	
}
#air_bib_page3_leftcont
{
	float:left;
	width:82.8%;
}
.air_bib_page3_leftcont_contentarea
{
	width:19.6%;
	padding-bottom:3px;
	float:left;
	padding-right:2px;
}
.bluecontent_area_airbin
{
	background:#5b9bd5;
	color:#FFF;
	font:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.grey_bkarea_airbin
{
	background:#ffffff;
	padding:0px;
	color:#000;
	padding-left :5px;
    padding-right :5px;
    border:#D7D7D7 2px solid;
}
#air_bib_page3_rightcont
{
	float: right;
	width: 18%;
	border: 1px solid #06F;
	top: 6.5em;
	right: 10px;
	position: absolute;
	height: 618px;
	overflow: auto;
}
#air_bib_page3_rightcont .area
{
	padding:5px;
}
#air_bib_page3_rightcont h1
{
	font:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#41719c;
}
.yellow_text
{
	color:#FC0;
	
}
.text_filedssx
{
	width:80px;
	padding:2px;
}
a
{  
 text-decoration:none;  
 cursor:default;
}  